.stovecard{
   display: flex;
   align-items: center;

   background-color: white;
   padding:20px;
   box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.13);
}
.stovecard:hover{
   background-color: orangered;
   color: white;
}

.icon{
  margin-right: 20px;
}
svg{
  
   font-size:100px ;
}
.tehnical{
 
}