.login {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;

}

.login h2 {
    color: orangered;
}

.login form {
    font-size: 1.5em;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    border: 3px solid orangered;
    max-width: 400px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.login label {
    display: block;
    color: grey;
    margin-bottom: 10px;
}

.login input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid orangered;
    border-radius: 5px;
    box-sizing: border-box;
}

.login button {
    font-size: 1em;
    padding: 10px;
    background-color: orangered;
    color: rgb(253, 253, 253);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    border: 2px solid orangered;

}


.login button:hover {
    cursor: pointer;
    background-color: rgb(159, 44, 2);
    border: 2px solid orangered;
}

.login p {
    font-size: 0.7em;
}

.login a {
    color: orangered;
}