header{
    background-color: orangered;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.13);
    height:100px;
}

header h1{
    color: white;
}